@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Rufina&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#noti {
    font-family: 'Nabla', cursive;
    font-size: 100px;
    border-style: dotted;
    background-image: linear-gradient(yellow, red, white);
    margin-bottom: 40px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Rufina', serif;
}

h2 {
    color: black;
    text-align: center;
    border-style: double;
    display: block;
    width: 200px;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Viaoda Libre', cursive;
}

h3 {
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

/* Seccion Politica */

.seccion_politica {
    padding: 20px;
}

.articulo_politica p {
    color: white;
    text-align: justify;
    column-count: 2;
    padding: 20px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    column-gap: 20px;
    column-rule-style: solid;
    background-color: rgba(0, 0, 0, 0.6);
}

.imgP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgP img {
    width: 500px;
    height: 300px;
    margin: 20px;
    border-width: 5px;
    border-style: outset;
    border-color: #f6fa04;
}

/* Seccion Deportes */

.seccion_deportes {
    padding: 20px;
    border-top-style: dotted;
    border-color: white;
}

.articulo_deporte p {
    color: white;
    text-align: justify;
    column-count: 3;
    padding: 20px;
    margin: 20px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    column-gap: 20px;
    column-rule-style: solid;
    background-color: rgba(0, 0, 0, 0.6);
}

.imgD {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgD img {
    width: 500px;
    height: 300px;
    margin: 20px;
    border-width: 5px;
    border-style: ridge;
    border-color: #404040;
}

/* Seccion Cultura */

.seccion_cultura {
    padding: 20px;
    border-top-style: dotted;
    border-color: white;
}

.articulo_cultura p {
    color: white;
    text-align: justify;
    column-count: 4;
    padding: 20px;
    margin: 20px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    column-gap: 20px;
    column-rule-style: solid;
    background-color: rgba(0, 0, 0, 0.6);
}

.imgC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgC img {
    width: 400px;
    height: 300px;
    margin: 20px;
    border-width: 10px;
    border-style: dashed;
    border-color: #ffffff;
}

/* Seccion Tecnología */

.seccion_tecnologia {
    padding: 20px;
    border-top-style: dotted;
    border-color: white;
}

.articulo_tecnologia p {
    color: white;
    text-align: justify;
    column-count: 2;
    padding: 20px;
    margin: 20px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    column-gap: 20px;
    column-rule-style: solid;
    background-color: rgba(0, 0, 0, 0.6);
}

.imgT {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgT img {
    width: 400px;
    height: 300px;
    margin: 20px;
    border-width: 10px;
    border-style: ridge;
    border-color: #ffffff;
}

/* Seccion Economía */

.seccion_economia {
    padding: 20px;
    border-top-style: dotted;
    border-color: white;
}

.articulo_economia p {
    color: white;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
    column-gap: 20px;
    column-rule-style: solid;
    background-color: rgba(0, 0, 0, 0.6);
    column-width: 300px;
}

.imgE {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgE img {
    width: 400px;
    height: 300px;
    margin: 20px;
    border-width: 10px;
    border-style: ridge;
    border-color: #ffffff;
}

.imgE4-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgE4-div img {
    width: 600px;
    height: 300px;
    margin: 20px;
}


footer {
    background-color: #573B1B;
    color: white;
    margin: 0px;
    padding: 20px;
}

.footer-columns {
    display: flex;
    align-items: center;
    /* centra verticalmente los elementos */
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}

.footer-column {
    margin: 60px;
}

.footer-title {
    font-size: 60px;
    font-weight: bold;
    margin-right: 15px;
    font-family: 'Lobster', cursive;
    color: white
}

.footer-title2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: auto;
    margin: auto;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.footer-link:hover {
    text-decoration: underline;
}

.icon-footer {
    width: 150px;
    margin-left: 45px;
}

.copyright {
    text-align: center;
    font-size: 15px;
}

/* Estilos para dispositivos con un ancho mínimo de 250px y máximo de 450px */
@media only screen and (min-width: 200px) and (max-width: 800px) {
    body {
      font-size: 16px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 22px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    .imgP,
    .imgD,
    .imgC,
    .imgT,
    .imgE,
    .imgE4 {
      display: flex;
      flex-direction: column;
    }
  
    .imgP img,
    .imgD img,
    .imgC img,
    .imgT img,
    .imgE img,
    .imgE4-div img {
      max-width: 100%;
      height: auto;
      border-style: none;    
    }
  
    .seccion_politica,
    .seccion_deportes,
    .seccion_cultura,
    .seccion_tecnologia,
    .seccion_economia {
      margin-bottom: 20px;
    }
  
    .articulo_politica p,
    .articulo_deporte p,
    .articulo_cultura p,
    .articulo_economia p,
    .articulo_tecnologia p {
      font-size: 16px;
      line-height: 1.5;
      column-count:initial;
      column-rule-style:initial;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    
      .footer-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 130px;
      }

      .footer-column p{
        text-align: center;
        text-transform: none;

      }
    
      .icon-footer {
        width: 50px;
        height: auto;
        margin-bottom: 10px;
        align-items: center;
        margin-right: 40px;
      }
    
      .footer-title {
        font-size: 60px;
      }
    
      .footer-title2 {
        margin-bottom: 10px;
        font-size: 1.2rem;
      }
    
      .footer-link {
        margin-bottom: 10px;
        font-size: 1.1rem;
        text-align: justify;
      }

      .copyright{
        text-align: center;
      }
  }
  
  
  